.contestpage{
	padding-top: 0px;
	color:black;
	font-size: 30px;
	position: relative;

}
.container{
	margin-left: 10px;

}
.footer{
	color: red;
}
fieldset legend{
	padding-top: 0px;
}
legend{
	font-size: 30px;
}
